body{
    color: #4a4849;
    background-image: url('img/nightlife.jpg');
    font-size: 16px;
}
ul{
    list-style: none;
}
.iphone div{
    background-image: url('img/iphone6.png');
    background-size: 260px;
    margin-top: 50px;
    background-repeat: no-repeat;
    margin-left: 80px;
}
.iphone video{
    padding-top:56px;
    margin-left: 10px;
    padding-bottom: 57px;
    max-width: 100%;
}
.contact{
    margin-bottom: -60px;
    margin-top:  40px;
    padding: 6px 10px;
    font-size: 14px;
    color: #00baac;
    border: 2px solid #00baac;
    border-radius: 4px;
    background: white;
    font-weight: bold;
}
.contact:hover{
    color: #17aa9e;
}
.content{
    margin-top: 60px;
    min-height: 100hv;
}
.logo{
    width: 110px;
    float: left;
    margin-right: 10px
}
.content h1{
    font-size: 60px;
    font-weight: bold;
    color: #009488;
}
.content h2{
    font-size: 30px;
    font-weight: bold;
    color: #00baac;
    float: left;
    margin-bottom: 30px;
}
.content p{
    font-size: 19px;
}
.content span{
    font-weight: bold;
    color: #00baac;
}
.messengers{
    margin-top: 45px;
    margin-bottom: 20px;
}
.comingSoon{
    float: left;
    display: block;
    clear: both;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 0px;
}
.comingSoon img{
    width: 40px;
    margin-left: 10px;
    margin-right: 5px;
}
.comingSoon a{
    margin-right: 10px;
}
#telegramBut{
    margin-left: 125px;
    display: block;
    margin-bottom: 20px;
    background: #00baac;
    border: none;
    width: 300px;
    
}
#telegramBut:hover{
    background: #27c3b7;
}
#telegramBut:active{
    background: #10b5a9;
}
#telegramBut i{
    padding-left: 10px;
}
.contactPage img{
    width: 50%;
    margin: 0 auto;
    display: block;
}
.contactPage .col-lg-4 h2{
    margin-bottom: -18px;
}
.contactPage{
    margin-top: 50px;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 29px -8px rgba(82,73,82,0.73);
-moz-box-shadow: 5px 5px 29px -8px rgba(82,73,82,0.73);
box-shadow: 5px 5px 29px -8px rgba(82,73,82,0.73);
}
.contactHeading{
    color: #17aa9e;
    margin-top: 5px;
    margin-bottom: 65px;
}
.contactPage.container{
    background: white;
    padding: 30px;
}
.buttons{
    margin-top: 60px;
}
#homeBut{
    background: white;
    border: 2px solid #17aa9e;
    color: #17aa9e;
    padding: 7px 25px;
}
.contactPage #telegramBut{
    width: auto;
    padding: 8px 15px;
}
@media screen and (max-width: 1124px){
.iphone div{
    margin-left: 10px;
}
   .content h1{
        font-size: 40px;
       margin-top: 30px;
    }
    .logo{
        width: 100px
    }
    .content h2{
        font-size: 24px
    }
    .content p{
        font-size: 18px;
    }
}
@media (max-width: 768px)
{
    .container{
        width: 100%;
    }
}
@media screen and (max-width: 998px){
    .container{
        width: 100%;
    }
    .iphone div{
        background-size: 230px;
    }
    .iphone video{
        width: 210px;
        padding-top: 50px;
    }
}
@media screen and (max-width: 615px){
    .iphone div{
        display:none;
    }   
}